body {
    background-color: #efefef;
}
.container-fluid{
    margin: 8px 0px 8px;
}
.form-control{
    border: 2px solid #ccc;
    color: #2e6da4;
}
.btn.btn-default{
    border: 2px solid #ccc;
    padding: 5px 12px;
    margin-left: -6px;
}
.main {
    background-color: white;
    margin-top: 88px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding-top: 13px;
}

.aw-question-content {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile.section {
    margin-top: 15px;
}

.community-menu {
    color: #999;
    font-size: 13px;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 10px;
}

.icon {
    font-size: 15px;
    margin-right: 10px;
    cursor: pointer;
}
.comment-icon {
    font-size: 15px;
    cursor: pointer;
}
.comment-icon:hover {
    color: #499ef3;
}
.comment-icon.active {
    color: #499ef3;
}


.comments {
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.question-title {
    margin-top: 25px;
    margin-bottom: 25px;
}

.sub-comments {
    margin-top: 15px;
    border: 1px solid #eee;
    padding-top: 15px;
    border-radius: 5px;
    margin-bottom: 12px;
}
.sub-comments .btn{
    margin: 10px 0;
}

.question-tag {
    margin-right: 9px;
}

.question-related {
     line-height: 30px;
     font-size: 14px;
     padding-left: 0;
     list-style: none;
 }

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}
.publish-tag-tab .label-info {
    margin: 5px 5px;
    white-space: normal;
    display: inline-block;
}
.publish-tag-tab .label-info .glyphicon{
    top: 0px;
    right: 2px;
}


