<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"> type = "application/javascript"</script>
    <script src="/js/moment.js"></script>
    <script src="/js/community.js"> type = "application/javascript"</script>

    <link rel="stylesheet" href="/editormd/css/editormd.preview.css" />
    <script src="/editormd/editormd.js"></script>
    <script src="/editormd/lib/marked.min.js"></script>
    <script src="/editormd/lib/prettify.min.js"></script>

</head>
<body>
<div >
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="/img/默认头像.png">
                        </a>
                    </div>
                    生日:
                    <span>1998-11-27</span><br>
                    <span>永远相信未来</span><br>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4">
                <h3>账户设置</h3>
                <form>
                    <div class="form-group">
                        <label for="exampleInputFile">头像</label><br>
                        <img class="img-thumbnail" src="/img/默认头像.png">
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">邮箱</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <button type="submit" class="btn-default btn" style="margin-left: 0">保存修改</button>
                </form>
            </div>

        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
</body>
</html>