<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>个人中心</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"> type = "application/javascript"</script>
    <script src="/js/moment.js"></script>
    <script src="/js/community.js"> type = "application/javascript"</script>

</head>
<body>
<div th:insert="navigation::nav"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12"></div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle" src="/img/默认头像.png">
                        </a>
                    </div>
                    生日:
                    <span>1998-11-27</span><br>
                    <span>永远相信未来</span><br>
                </div>
            </div>
            <div class="list-group section">
                <a href="/setting/personal/account" class="list-group-item " th:classappend="${section=='account'}?'active':''">账号与密码</a>
                <a href="/setting/personal/message" class="list-group-item" th:classappend="${section=='message'}?'active':''">消息与邮件<span class="badge" th:text="${session.unreadNotificationCount}"></span></a>
                <a href="/setting/personal/shield" class="list-group-item " th:classappend="${section=='shield'}?'active':''">屏蔽</a>
                <a href="/setting/personal/privacy" class="list-group-item " th:classappend="${section=='privacy'}?'active':''">隐私</a>
                <a href="/setting/personal/like" class="list-group-item " th:classappend="${section=='like'}?'active':''">偏好设置</a>
                <a href="/setting/personal/recommendation" class="list-group-item " th:classappend="${section=='recommendation'}?'active':''">推荐</a>

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='account'}">
                <h3>账户设置</h3>
                <form action="/setting/update" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="fileUpload">当前头像</label><br>
                        <img id="image" class="img-thumbnail " style="width: 90px" th:src="${user.avatarUrl}">
                        <input type="file" name="img" id="fileUpload">
                        <p class="help-block">新头像</p>
                        <div id="image-holder"></div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputName">新昵称</label>
                        <input type="text" name="name" class="form-control" id="exampleInputName" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">新邮箱</label>
                        <input type="email" name="mail" class="form-control" id="exampleInputEmail1"
                               placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">新密码</label>
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                    </div>
                    <button type="submit" class="btn-default btn" style="margin-left: 0">保存修改</button>
                </form>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='message'}">
                消息
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='shield'}">
                shield
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='privacy'}">
                privacy
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='like'}">
                like
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${section=='recommendation'}">
                recommendation
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
        </div>
    </div>
</div>
<script>
    $("#fileUpload").on('change', function () {
        if (typeof (FileReader) != "undefined") {
            var image_holder = $("#image-holder");
            image_holder.empty();

            var reader = new FileReader();
            reader.onload = function (e) {
                $("<img />", {
                    "src": e.target.result,
                    "class": "thumb-image",
                    "style": "width:138px;height:138px",
                }).appendTo(image_holder);

            };
            image_holder.show();
            reader.readAsDataURL($(this)[0].files[0]);
        } else {
            alert("你的浏览器不支持FileReader.");
        }
    });
</script>
</body>
</html>